<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="VAAEntities" connectionString="metadata=res://*/VAAEntity.VAAModel.csdl|res://*/VAAEntity.VAAModel.ssdl|res://*/VAAEntity.VAAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.26.128.158;initial catalog=VAA;persist security info=True;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>